.lang-link_language_ru{
	margin: 46px 18px 0px 0;
	padding: 0;
	border: none;
	background: #2A2C2F;
	
	width: 29px;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

}

.lang-link_language_ru:enabled{
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.lang-link_language_ru{
		margin: clamp(30px, 5vw, 46px) 18px 0px 0;
		font-size: clamp(18px, 5vw, 24px);
		line-height: clamp(20px, 5vw, 28px);
	}
}