.place__title{
	margin: 0;
	margin-bottom: 48px;

	max-width: 460px;
	width: 100%;

	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;

	color: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place__title{
		font-size: clamp(42px, 5vw, 72px);
		line-height:clamp(46px, 5vw, 76px);
		white-space: pre-line;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.place__title{
		font-size: clamp(32px, 9vw, 42px);
		line-height:clamp(35px, 9vw, 46px);
		margin-bottom: clamp(32px, 9vw, 48px);
		margin-left: 16px;
		white-space: normal;
		max-width: 288px;
	}

}
@media screen and (max-width: 319px){
	.place__title{
		font-size: 32px;
		line-height:35px;
		margin-bottom: 32px;
		margin-left: 8px;
		white-space: normal;
		max-width: 288px;
	}

}