.photo-grid{
	margin: 92px 48px 0 48px;

	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 16px;
}
 
@media screen and (min-width: 1024px) and (max-width: 1279px){
	.photo-grid{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: clamp(14px, 1vw, 16px);
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	.photo-grid{
		/*margin-top:  clamp(64px, 8vw, 88px);*/
		margin-top: clamp(88px, 8vw, 92px);
		margin-right: clamp(24px, 3vw, 48px);
		margin-left: clamp(24px, 3vw, 48px);

		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.photo-grid{
		margin-top: clamp(64px, 19vw, 88px);
		margin-right: clamp(16px, 4vw, 24px);
		margin-left: clamp(16px, 4vw, 24px);

		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(12, 1fr);

		gap: clamp(12px, 3vw, 14px);
	}
}
@media screen and (max-width: 320px){
	.photo-grid{
		margin-top: 64px;
		margin-right: 16px;
		margin-left: 16px;

		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(12, 1fr);

		gap: 12px;
	}
}