.places{
	margin: 92px 148px 0 148px;
	display: grid;
	grid-row-gap: 80px;

	max-width: 984px;
	width: 100%;
	
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.places{
		margin-left: clamp(48px, 4%, 148px);
		margin-right: clamp(48px, 4%, 148px);
		width: clamp(928px, 90vw ,984px);
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.places{
		margin-left: clamp(24px, 3vw, 48px);
		margin-right: clamp(24px, 3vw, 48px);
		margin-top: clamp(88px, 10vw, 92px);
		width: clamp(720px, 90vw ,928px);

		grid-row-gap: clamp(73px, 9vw, 80px);
	}
}