.intro__list{
	margin: 33px 0 0 0;
	padding: 0;

	list-style-type: none;

	max-width: 690px;
	width: 100%;

	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;

	color: white;
}

@media screen and (min-width: 1280px){
	.intro__list{
		width: 984px;
	}
}