.cover__subtitle{
	margin: 32px 0 0 0;

	max-width: 360px;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: white;
	z-index: 2;
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.cover__subtitle{
		font-size: clamp(14px, 3vw, 18px);
		line-height: clamp(16px, 4vw, 22px);

		max-width: clamp(288px, 70vw, 560px);

		margin-top: clamp(16px, 4vw, 32px);
	}
}

@media screen and (max-width: 320px){
	.cover__subtitle{
		font-size: clamp(5px, 3vw, 14px);
		line-height: clamp(5px, 3vw, 16px);

		max-width: clamp(0, 50vw, 288px);

		margin-top: 16px;
	}
}