.header__logo{
	margin-top: 28px;
	max-width: 176px;
	max-height: 52px;
}

@media screen and (max-width: 768px) {
	.header__logo{
		margin-top: clamp(18px, 5%, 28px);
		width: clamp(142px, 50%, 176px);
		height: clamp(42px, 50%, 52px);
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.header__logo{
		margin-top: clamp(16px, 5vw, 18px);
	}
}
@media screen and (max-width: 320px){
	.header__logo{
		width: clamp(102px, 50%, 142px);
		height: clamp(2px, 50%, 42px);
	}
}