.photo-grid__item{
	margin: 0;
	max-width: 352px;
	max-height: 100%;
	width: 100%;
	object-fit: cover;
	/*height: 213px;*/
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
	.photo-grid__item{
		width: 300px;
	}
}