.place__paragraph{
	margin: 0;
	margin-bottom: 0;
	/*grid-row: 2/3;*/
	grid-column: 2;

	max-width: 484px;
	width: 100%;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 163%;

	color: white;
}

.place__paragraph:nth-child(even){
	margin-bottom: 26px;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place__paragraph{
		font-size: clamp(16px, 2vw, 18px);
	}
	.place__paragraph:nth-child(even){	
		margin-bottom: 25px;
	}

}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.place__paragraph{
		grid-column: 1;

		font-size: 16px;

		margin-left: 16px;
		margin-right: 16px;

		max-width: clamp(288px, 80vw, 484px);
	}
	.place__paragraph:nth-child(even){

		margin-top: 32px;
		margin-bottom: 25px;

	}

}
