.intro__text{
	margin: 40px 0 0 0;
	padding: 0;
	max-width: 690px;
	width: 100%;


	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 163%;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	.intro__text{
		width:  clamp(720px, 11vw, 690px);
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.intro__text{
		width:  clamp(288px, 80vw, 720px);
	}
}
@media screen and (max-width: 320px){
	.intro__text{
		width: clamp(0px, 80vw, 288px);
	}
}

@media screen and (min-width: 1281px){
	.intro__text{
		max-width: clamp(690px, 50vw, 984px);
	}
}
