.intro__text{
	margin: 40px 0 0 0;
	padding: 0;
	width: 690px;


	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 163%;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	.intro__text{
		width:  clamp(720px, 11vw, 690px);
	}
}