.root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;


  background: #2A2C2F;



  overflow:hidden;

  font-family: Inter, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

/*@media screen and (min-width: 1024px) and (max-width: 1279px){
  .root{
    width: clamp(1024px, 100vw, 1280px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .root{
    width: clamp(768px, 100vw, 1023px);
  }
}*/