.place__link{
	width: 456px;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;


	text-decoration-line: underline;

	transition: .5s ease;
}

.place__link:hover{
	opacity: 0.8;
}