.cover__background{
	background: url("../../../images/cover-trains.jpg");
	background-size: cover;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
	/*pointer-events: none;*/

	width: 1184px;
	height: 740px;
}
