.cover__background{
	background: url("../../../images/cover-trains.jpg");
	background-size: cover;
	object-fit: fill;
    background-repeat: no-repeat;
    background-position: center center; 
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	max-width: 1184px;
	max-height: 740px;

	width: 100%;
	height: 100%;


}

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.cover__background{
		max-width: 1024px;
		/*height: clamp(640px, 60vw, 740px);*/
	}
}*/
/*
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.cover__background{
		width: clamp(768px, 95vw, 1024px);
		height: clamp(480px, 60vw, 640px);
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.cover__background{
		width: clamp(320px, 99vw, 768px);
		height: clamp(200px, 60vw, 480px);
	}
}

@media screen and (max-width: 320px) {
	.cover__background{
		width: clamp(0px, 99vw, 320px);
		height: clamp(0px, 60vw, 200px);
	}
}*/