.lead__caption{
	margin: 6px 0 0 0;

	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;

	letter-spacing: 1.5px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.lead__caption{
		margin-left: clamp(24px, 15vw, 1px);
		margin-top: 8px;
	}

}