.cover__title{
	margin: 0;
	text-decoration: none;

	width: 560px;

	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;

	z-index: 9;
}
.cover__overlay:hover{
	background: rgba(42, 44, 47 ,0.8);
}

.cover__overlay > .cover__title{
	pointer-events: auto;
}
