.place{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr;
	grid-column-gap: 40px;

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.place{
		grid-template-columns: clamp(440px, 40vw, 460px) clamp(456px, 40vw, 484px);
		grid-column-gap: clamp(32px, 3vw, 40px);
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place{
		grid-template-columns: clamp(340px, 40vw, 440px) clamp(352px, 40vw, 456px);
		grid-column-gap: clamp(28px, 3vw, 32px);
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.place{
		grid-template-columns: clamp(320px, 95vw, 340px);
		grid-column-gap: repeat(3, 1fr);
	}
}
@media screen and (max-width: 320px){
	.place{
		grid-template-columns: clamp(0px, 95vw, 320px);
		grid-column-gap: repeat(3, 1fr);
	}
}