.header__language-ru{
	margin: 46px 18px 0px 0;
	/*text-decoration: none;*/

}

@media screen and (max-width: 768px) {
	.header__language-ru{
		font-size: clamp(18px, 5vw, 24px);
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.header__language-ru{
		line-height: clamp(20px, 5vw, 28px);
		margin-top: clamp(30px, 9vw, 46px);
	}
}
@media screen and (max-width: 320px){
	.header__language-ru{
		line-height: 20px;
		margin-top: 30px;
	}
}