.cover__title-link{
	margin: 0;
	text-decoration: none;
	color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.cover__title-link{
		max-width: clamp(288px, 88vw, 560px);
	}
}